@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #000;
  @apply text-white font-inter;
} 
.app{
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../static/fonts/BebasNeue.ttf');
}
html {
  scroll-behavior: smooth;
  }
  